<ion-content>
 
<form #form="ngForm" (ngSubmit)="login(form)">
    
<ion-card>
  <img src="./assets/Trespass-Logo.jpg" />
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div>
        
      </div>
      <div padding>
        <ion-item>
          <ion-input class="ion-text-center" name="usuario" type="text" placeholder="Nombre de Usuario" ngModel required>  
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input class="ion-text-center" name="contrasenia" type="password" placeholder="Contraseña" ngModel required></ion-input>
        </ion-item>        

      </div>

      <div padding>
        <ion-button color="secondary"  type="submit" size="large" expand="block">Iniciar Sesión</ion-button>
      </div>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-router-link  color="tertiary" href="#" class="fuente">¿Olvidaste tu contraseña?</ion-router-link>
        </ion-col>
      </ion-row>
      
    </ion-col>
  </ion-row>
</ion-card>


</form>

</ion-content> 