<ion-header>
  <ion-toolbar color="secondary"> 
  <ion-title class="ion-text-center">Chaquetas</ion-title>
    <ion-buttons slot="start" routerLink="/home">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of productos ;let indice=index" [routerLink]="['/chaquetas' , c.id]">
      <ion-avatar slot="start">
        <ion-img [src] ="'http://localhost:1337' + imagenes[indice]"></ion-img>
      </ion-avatar>
      <ion-label>{{ c.nombre }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- implementación del botón agregar Chaquetas-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="redireccionAgregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
