<ion-header>
  <ion-toolbar class="ion-text-center" color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{producto.nombre}}</ion-title>

<!-- boton borrar -->
<ion-buttons slot="end">
  <ion-button (click)="eliminarChaqueta()">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
</ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

    <!-- Grilla para las Imagenes, Filas y Columnas -->
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <!-- AGREGAR ETIQUETA CARD PARA QUE LA IMAGEN SE VEA MEJOR -->
          <!-- <ion-img [src]="producto.imagenURL" ></ion-img> -->
          <ion-img [src] ="'http://localhost:1337' + c.imagenURL.url"></ion-img>
        </ion-col>
      </ion-row>
  
      <!-- Información del Producto, Nombre -->
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">Talla : {{talla.nombre}}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">Precio : ${{producto.precio}}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">Importado : {{producto.Importado ? "Si" : "No"}}</h1>
        </ion-col>
      </ion-row>
  
      <!-- Comentarios -->
      <ion-row>
        <ion-col>
          <ion-list *ngIf=" producto.descripcion && producto.descripcion.length > 0; else sinDescripcion ">
              <ion-item *ngFor="let desc of producto.descripcion">
                <h1>{{desc}}</h1>
              </ion-item>
          </ion-list>
  
          <!-- ngTemplate: Segmento de código que aparece bajo una condición -->
          <!-- Cuando no hay una descripción asociada a una Chaqueta -->
          <ng-template #sinDescripcion>
            <ion-text>
              <p class="ion-text-center">Producto Sin Descripción</p>  
            </ion-text>  
          </ng-template>
  
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="redireccionActualizar()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>