<ion-header>
  <ion-toolbar class="ion-text-center" color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{datos.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- agregar el trash can para eliminar chaquetas-->




<ion-content>

    <!-- Grilla para las Imagenes, Filas y Columnas -->
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-img [src]="datos.imagenURL" ></ion-img>
        </ion-col>
      </ion-row>
  
      <!-- Información del Producto, Nombre -->
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">{{datos.nombre}}</h1>
        </ion-col>
      </ion-row>
  
      <!-- Comentarios -->
      <ion-row>
        <ion-col>
          <ion-list *ngIf=" datos.descripcion && datos.descripcion.length > 0; else sinDescripcion">
            <ion-item *ngFor="let desc of datos.descripcion">
              {{desc}}
            </ion-item>
          </ion-list>
  
          <!-- ngTemplate: Es un segmento de código que aparece bajo una condición -->
          <ng-template #sinDescripcion>
            <ion-text>
              <p class="ion-text-center">Producto Sin Descripción</p>  
            </ion-text>  
          </ng-template>
  
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>