<ion-header>
  <ion-toolbar color="secondary">


    <ion-buttons slot="start" routerLink="/chaquetas">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    
    <ion-title class="ion-text-center">Agregar Nuevo Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
<ion-card>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <ion-card-content>
          <ion-item>
              <ion-input class="ion-text-center" type="text" placeholder="Nombre Producto"  #nombre></ion-input>
          </ion-item>

          <ion-item>
              <ion-input class="ion-text-center" type="file" placeholder="Imagen" accept="image/*" [(ngModel)]="imageFilePath" (change)="capturarImagen($event)"></ion-input>
          </ion-item>
          <ion-item>
          <img *ngIf="img1" [src]="img1"/>
          <br>
          <progress max="100" :value.prop="uploadPercentage"></progress>
          <br>
          </ion-item>

          <!-- Creación del Combo Box -->
          <ion-item> 
            <ion-select placeholder="Talla" interface = "popover" [compareWith]="compareWith" value="{{talla.id}}" #talla>
              <ion-select-option *ngFor="let l of listado" [value]="l.id">{{l.nombre}} </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-input class="ion-text-center" type="number" placeholder="Precio"         #precio ></ion-input>
          </ion-item>

          <ion-item>
              <ion-input class="ion-text-center" type="text" placeholder="Descripcion"      #descripcion></ion-input> 
          </ion-item>

          <!-- Creación de un Check Box -->
          <ion-item>
            <ion-checkbox  #import></ion-checkbox><label class="ion-text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Producto Importado</label>
          </ion-item>
          
          <div padding>
              <ion-button color="secondary" (click)="agregarChaqueta(nombre, talla, precio, descripcion, import)"  size="large"  expand="block">registrar</ion-button>
          </div>
    </ion-card-content>     
    </ion-col>
  </ion-row>
</ion-card>


</ion-content>
