<ion-header>
  <!-- Encabezado -->
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">TRES PASS CHILE ®</ion-title>
    <ion-title class="ion-text-center">¡Bienvenido {{usuario}}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      
      <ion-col size="12">
        <!-- Carrusel de Imágenes -->
        <ion-slides pager="true" [options]="slideOptions" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="./assets/{{s.id}}.jpg">
          </ion-slide>
        </ion-slides>

      </ion-col>
      
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Equipamiento Outdoor</ion-card-title>
    </ion-card-header>
  <!-- falta que funcione la scroll bar-->
    <ion-card-content>
      Todo el equipamiento de montaña que necesitas para tu viaje de ensueño.
      <br>   <br/>
      <img src="https://www.moorescoleraine.com/media/1736/womens-cat-promo-270919-x1.jpg" />
      <br>   <br/>
      Ropa términa e impermeable de mujer y hombre. Accesorios de camping y montañismo.
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-tabs>
  <!-- Tabs de Menú Fijo -->

  <!-- Botón que deberá dirigirnos al html de Chaquetas falta funcionalidad-->
  <ion-tab-bar slot="bottom" color="secondary"> 
    <ion-tab-button tab="tab1" (click)="redireccionarChaquetas()">
      <ion-icon name="woman"></ion-icon>
      <ion-label>Mujer</ion-label>
    </ion-tab-button>
 
    <!-- Botón que deberá dirigirnos al html de Chaquetas falta funcionalidad-->
    <ion-tab-button tab="tab2" (click)="redireccionarChaquetas()">
      <ion-icon name="man"></ion-icon>
      <ion-label>Hombre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="footsteps"></ion-icon>
      <ion-label>Calzado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="prism"></ion-icon>
      <ion-label>Equipamiento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>